<!-- Inline CSS based on choices in "Settings" tab -->

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso">
  <div class="container-fluid">
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">

      <!-- ADDRESS ROW -->
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group ">
            <label class="control-label requiredField" for="address">כתובת<span class="asteriskField">*</span></label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-map-marker">
                </i>
              </div>
              <input class="form-control" formControlName="address" id="address" name="address" type="text"/>
            </div>
            <span class="help-block" id="hint_address">הזן כתובת או שם איזור</span>
          </div>
        </div>

      </div>
      <!-- /ADDRESS ROW -->

      <!-- INCIDENT TYPE & CALENDAR ROW -->
      <div class="row">

        <!-- INCIDENT TYPE -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group ">
            <label class="control-label requiredField" for="incident-type">בחר<span
              class="asteriskField">*</span></label>
            <select class="select form-control" formControlName="type" id="incident-type" name="incident-type"
                    (change)="onSelect($event.target.value)">
              <option *ngFor="let o of options" value="{{o.value}}">{{o.description}}</option>
            </select>
          </div>
        </div>
        <!-- /INCIDENT TYPE -->

        <!-- CALENDAR -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="form-group">
            <label class="control-label " for="date">תאריך</label>
            <div class="input-group date">
              <div class="input-group-addon">
                <i class="fa fa-calendar" >
                </i>
              </div>
              <input class="form-control" formControlName="date" id="date" name="date" placeholder="{{now | date: 'dd/MM/yyyy'}}" type="text"/>
            </div>
            <span class="help-block" id="hint_date">אומדן של תאריך האירוע אם קיים</span>
          </div>
        </div>
        <!-- /CALENDAR -->

      </div>
      <!-- /INCIDENT TYPE & CALENDAR ROW -->

      <!-- INCIDENT DETAIL ROW -->
      <div *ngIf="incidentSelected" class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="form-group ">
            <label class="control-label " for="incident-description">תיאור האירוע</label>
            <textarea class="form-control" formControlName="description" cols="40" id="incident-description" name="incident-description"
                      rows="3"></textarea>
            <span class="help-block" id="hint_incident-description">תאר את האירוע</span>
          </div>
        </div>

        <!--
        <div class="col-md-12 col-sm-12 col-xs-12">

          <image-upload class=""
            [max]="1"
            [buttonCaption]="'הוסף תמונה'"
            [dropBoxMessage]="'גרור תמונה לכאן'"
          ></image-upload>
        </div>

        -->
      </div>
      <!-- /INCIDENT DETAIL ROW -->

      <hr class="form-hr">

      <!-- CHECKBOX -->
      <div class="form-group" id="div_report-type">
        <div class="anonymous">
          <label class="checkbox-inline">
            <input name="report-type" formControlName="anonymous" type="checkbox" value="ארצה לדווח בצורה אנונימית" [(ngModel)]="anonymousReport"/>
            ארצה לדווח בצורה אנונימית
          </label>
        </div>
      </div>
      <!-- /CHECKBOX -->

      <!-- Anonymous report -->
      <div *ngIf="!anonymousReport" class="user-details">

        <!-- NAME & PHONE ROW -->
        <div class="row">
          <!-- NAME -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group ">
              <label class="control-label " for="name">שם ומשפחה</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user"></i>
                </div>
                <input class="form-control" formControlName="name" id="name" name="name" placeholder="שם" type="text"/>
              </div>
              <span class="help-block" id="hint_name">רשות - הוסף שם</span>
            </div>
          </div>
          <!-- /NAME -->

          <!-- PHONE-NUMBER -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group ">
              <label class="control-label " for="tel">מספר טלפון</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-phone"></i>
                </div>
                <input class="form-control" formControlName="phone" id="tel" name="tel" placeholder="xxx-xxxxxxx" type="text"/>
              </div>
              <span class="help-block" id="hint_tel">רשות - הוסף מספר טלפון</span>
            </div>
          </div>
          <!-- /PHONE-NUMBER -->
        </div>
        <!-- /NAME & PHONE ROW -->


        <!-- E_MAIL -->
        <div class="form-group">
          <label class="control-label " for="email">דואר אלקטרוני</label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-envelope"></i>
            </div>
            <input class="form-control" formControlName="email" id="email" name="email" placeholder="user@email.com" type="text"/>
          </div>
          <span class="help-block" id="hint_email">רשות - הוסף דואר אלקטרוני</span>
        </div>
        <!-- /E_MAIL -->

      </div>
      <!-- /Anonymous report -->

      <input type="submit" class="btn btn-info pull-left"  value="סיים"  [disabled]="!eventForm.valid">


    </form>
  </div>
</div>
